.nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: #2d4059;
    padding: 10px;
}

.item {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.first {
    margin-right: auto;
}

.main_photo {
    display: flex;
    flex-wrap: wrap;
}

.photo_wide {
    flex: 1;
    width: 100%;
    filter: grayscale(60%);
}

body {
    background-color: #d6e6f2;
}

body:hover {
    background-color: #f5eee6;
}

.quote {
    display: flex;
    flex-wrap: wrap;
}

.quote_text {
    align-self: center;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    flex: 1;
}

.heading {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.heading_text {
    color: #112d4e;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.heading_text:hover {
    color: #07689f;
}

.services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.services_item {
    list-style: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
}

.services_item:hover {
    background-color: #384259;
    color: white;
}

.label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

.btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cta {
    flex: 1;
    background-color: #3f72af;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    cursor: help;
}

.cta:hover {
    background-color: #384259;
}


/* Responsive Design */

@media all and (max-width: 912px) {    /* Check Surface Pro 7 */
    .second_photo {
        width: 350px;
    }

    .services_item {
        font-size: 20px;
        padding: 15px;
    }

    .heading_text {
        font-size: 25px;
        text-align: center;
    }

    .cta {
        padding: 10px;
    }

}

@media all and (max-width: 500px) {
    .second_photo {
        width: 100%;
    }

    .quote_text {
        font-size: 15px;
    }

    .services {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .services_item {
        font-size: 15px;
        padding: 10px;
        text-align: center;
    }

    .heading_text {
        font-size: 17px;
        margin-left: 40px;
        text-align: center;
    }

    .cta {
        padding: 8px;
    }

    .nav {
        padding: 5px;
        justify-content: center;
    }

    .item {
        font-size: 15px;
    }

    .first {
        margin-right: 0;
    }

}